@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Forum&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Slab:wght@100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --blue: #005BE3;
    --miblue: #52B6FF;
    --yellow: #fcff5e;
    --oyellow: #FBE481;
    --green: #70D884;
    --orange: #DD7D4E;
    --upgreen: #11935e;
}

html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.15;
    font-family: Arimo, Helvetica, Arial, sans-serif;
    scroll-behavior: auto;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative !important;
}

.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-auto {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.flex-start {
    justify-content: start;
    gap: 1rem;
}

.flex-end {
    justify-content: end;
    gap: 0.5rem;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

.margin-0 {
    margin: 0;
}

.margin-a {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.under-hov {
    text-decoration: none;
}

.under-hov:hover {
    text-decoration: underline;
}

.no-text-dec {
    text-decoration: none;
}

.w-100 {
    width: 100%;
}

.w-95 {
    width: 95%;
}

.w-90 {
    width: 90%;
}

.w-85 {
    width: 85%;
}

.w-80 {
    width: 80%;
}

.w-75 {
    width: 75%;
}

.w-70 {
    width: 70%;
}

.w-66 {
    width: 66.6666%;
}

.w-65 {
    width: 65%;
}

.w-618 {
    width: 61.8%;
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.w-55 {
    width: 55%;
}

.w-45 {
    width: 45%;
}

.w-40 {
    width: 40%;
}

.w-35 {
    width: 35%;
}

.w-33 {
    width: 33.3334%;
}

.w-382 {
    width: 38.2%;
}

.w-30 {
    width: 30%;
}

.w-25 {
    width: 25%;
}

.w-20 {
    width: 20%;
}

.w-15 {
    width: 15%;
}

.w-10 {
    width: 10%;
}

.w-5 {
    width: 5%;
}

.h-100vh {
    height: 100vh;
}

.h-100 {
    height: 100%;
}

.h-90 {
    height: 90%;
}

.h-90vh {
    height: 90vh;
}

.h-85vh {
    height: 85vh;
}

.h-75 {
    height: 75%;
}

.h-50 {
    height: 50%;
}

.h-10 {
    height: 10%;
}

.left-0 {
    left: 0;
}

.top-0 {
    top: 0;
}

.top-50 {
    top: 50;
}

.right-0 {
    right: 0;
}

.right-50 {
    right: 50;
}

.bottom-0 {
    bottom: 0;
}

.pa0 {
    padding: 0;
}

.pa1 {
    padding: .25rem;
}

.pa2 {
    padding: .5rem;
}

.pa3 {
    padding: 1rem;
}

.pa4 {
    padding: 1.5rem;
}

.pa5 {
    padding: 2rem;
}

.pl0 {
    padding-left: 0;
}

.pl1 {
    padding-left: .25rem;
}

.pl2 {
    padding-left: .5rem;
}

.pl3 {
    padding-left: 1rem;
}

.pl4 {
    padding-left: 1.5rem;
}

.pl5 {
    padding-left: 2rem;
}

.pl7 {
    padding-left: 3rem;
}

.pr1 {
    padding-right: 0.25rem;
}

.pr2 {
    padding-right: 0.5rem;
}

.pr3 {
    padding-right: 1rem;
}

.pr4 {
    padding-right: 1.5rem;
}

.pr5 {
    padding-right: 2rem;
}

.pr6 {
    padding-right: 3rem;
}

.pr7 {
    padding-right: 4rem;
}

.pt1 {
    padding-top: 0.25rem;
}

.pt2 {
    padding-top: 0.5rem;
}

.pt3 {
    padding-top: 1rem;
}

.ph1 {
    padding-left: .25rem;
    padding-right: .25rem;
}

.ph2 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.ph35 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.ph4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.ph5 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.ph6 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.pv1 {
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
}

.pv2 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.pv25 {
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
}

.pv3 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.pv4 {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.pv5 {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.pv6 {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.pb1 {
    padding-bottom: 0.25rem;
}

.pb2 {
    padding-bottom: 0.5rem;
}

.pb3 {
    padding-bottom: 1rem;
}

.pb4 {
    padding-bottom: 1.5rem;
}

.pb5 {
    padding-bottom: 2rem;
}

.pb6 {
    padding-bottom: 3rem;
}

.pb7 {
    padding-bottom: 4rem;
}

.pb8 {
    padding-bottom: 5rem;
}

.ma1 {
    margin: 0.25rem;
}

.mt1 {
    margin-top: .25rem;
}

.mt2 {
    margin-top: .5rem;
}

.mt3 {
    margin-top: 1rem;
}

.mt4 {
    margin-top: 1.5rem;
}

.mt5 {
    margin-top: 2rem;
}

.mt6 {
    margin-top: 3rem;
}

.mt7 {
    margin-top: 4rem;
}

.mt8 {
    margin-top: 5rem;
}

.mt9 {
    margin-top: 6rem;
}

.mt10 {
    margin-top: 7rem;
}

.ma2 {
    margin: .5rem;
}

.ma3 {
    margin: 0.75rem;
}

.mv1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.mv2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.mv3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mv4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.mv5 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mh2 {
    margin-left: .5rem;
    margin-right: .5rem;
}

.mh3 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mh4 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.ml2 {
    margin-left: 0.5rem;
}

.ml3 {
    margin-left: 1rem;
}

.ml4 {
    margin-left: 1.5rem;
}

.ml5 {
    margin-left: 2rem;
}

.ml6 {
    margin-left: 2.5rem;
}

.ml7 {
    margin-left: 3rem;
}

.ml8 {
    margin-left: 4rem;
}

.ml9 {
    margin-left: 5rem;
}

.mr0 {
    margin-right: 0;
}

.mr1 {
    margin-right: 0.25rem;
}

.mr2 {
    margin-right: 0.5rem;
}

.mr3 {
    margin-right: 1rem;
}

.mr4 {
    margin-right: 1.5rem;
}

.mr5 {
    margin-right: 2rem;
}

.mr6 {
    margin-right: 3rem;
}

.ml6 {
    margin-left: 3rem;
}

.mb0 {
    margin-bottom: 0;
}

.mb1 {
    margin-bottom: 0.25rem;
}

.mb2 {
    margin-bottom: 0.5rem;
}

.mb3 {
    margin-bottom: 1rem;
}

.mb4 {
    margin-bottom: 1.5rem;
}

.mb5 {
    margin-bottom: 2rem;
}

.mb6 {
    margin-bottom: 3rem;
}

.mb7 {
    margin-bottom: 4rem;
}

.mb8 {
    margin-bottom: 5rem;
}

.mb9 {
    margin-bottom: 6rem;
}

.mb10 {
    margin-bottom: 7rem;
}

.mb11 {
    margin-bottom: 8rem;
}

.mb12 {
    margin-bottom: 9rem;
}

.mb13 {
    margin-bottom: 10rem;
}

.bg-white {
    background-color: white;
}

.bg-grey {
    background-color: gray;
}

.bg-red {
    background-color: var(--red);
}

.wt {
    color: white;
}

.overflow-y {
    overflow-y: scroll;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.white {
    color: white;
}

.overflow-auto {
    overflow: auto;
}

.borderbox {
    box-sizing: border-box;
}





/* PROJECT SPECIFIC */

a {
    text-decoration: none;

}

a:hover {
    cursor: pointer;
}

*:hover {
    cursor: default;
}

.page {
    min-height: calc(100vh - 54px);
}

.page-height {
    height: calc(100vh - 46px);
}

.bg-blue {
    background-color: var(--blue);
}

.blue-hover:hover {
    color: var(--blue);
}

.logo-cont {
    padding-left: 28px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    padding: 18px 0;
    letter-spacing: 0.03rem;
    color: black;
}

.menu-item {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    letter-spacing: 0.03rem;
    padding-left: 18px;
    padding-right: 0px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-family: 'Spectral';
    transition: transform 200ms ease-in-out;
}

.menu-item:hover {
    transform: translateY(-2px)
}

.menu-icon {
    z-index: 300;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--blue);
    z-index: 900;
}

.menu-overlay nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-overlay nav ul li {
    margin-bottom: 0.25rem;
}

.menu-overlay nav ul li a {
    color: white;
    padding: 0;
    font-size: 24px;
    line-height: 30px;
}

.white {
    color: white;
}

.menu-overlay-content {
    margin-left: 1.5rem;
    margin-top: 2rem;
}

.mobile-x {
    z-index: 1000;
}

.alt-header {
    border-bottom: 2px solid #70D884;
}

.info-header {
    background-color: #005BE3;
}

.info-menu-item {
    color: white;
}

.alt-menu-item {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.03rem;
    color: black;
    font-family: 'Spectral';
    box-sizing: border-box;
}

.info-button-cont {
    position: fixed;
    left: 1.5rem;
    bottom: 1.5rem;
    z-index: 1;
}

.nav-text {
    color: black;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.03rem;
}

.sm-head-text {
    color: var(--blue);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.03rem;
}

.menu-item:hover {
    color: var(--yellow);
}

.active {
    color: var(--yellow) !important;
}

.dropdown {
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    max-width: 160px;
    background-color: var(--blue);
    z-index: 1;
}

.dropdown-content p {
    font-weight: 400;
    font-size: 14.5px;
    letter-spacing: 0.03rem;
}

.dropdown-content a {
    float: none;
    color: white;
    padding-left: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 24px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--green);
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.learn-more {
    color: #005BE3;
}

.learn-more:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.img-half {
    background-image: url('/assets/up-school-earnest-uncertainty.webp');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.img-half.mobile {
    height: 440px !important;
    width: auto;
    margin-bottom: 1.5rem;
}

.affection-page .img-half.mobile {
    background-position: 50% 30% !important;
}

.hope-page .img-half.mobile {
    background-position: 50% 30% !important;
}

.upside-page.img-half.mobile {
    background-position: 50% 10%;
}

.mobile-icon-cont {
    height: inherit;
}

.earnest-page .img-half {
    background-image: url('/assets/earnest.webp');
}

.affection-page .img-half {
    background-image: url('/assets/affection-economy.JPG');
}

.hope-page .img-half {
    background-image: url('/assets/hope-accelerator.jpg');
}

.contact-page .img-half {
    background-image: url('/assets/contact.webp');
}

.events-page .img-half {
    background-image: url('/assets/events.webp');
}

.upside-page .img-half {
    background-image: url('/assets/theupside.webp');
}

.articles-page .img-half {
    background-image: url('/assets/articles.webp');
}

.landing {
    box-sizing: border-box;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
}

.home-page .landing {
    margin-bottom: 3rem;
}


.landing p {
    font-family: 'Spectral';
    font-weight: 500;
    font-size: 60px;
}

.projects-home {
    margin-top: .75rem;
    box-sizing: border-box;
    margin-bottom: 3rem;
}

.project-item {
    border-bottom: 1px solid black;
    padding: 20px 0 12px 0;
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'Spectral';
}

.project-title {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03rem;
    padding: 0;
    padding-left: 10px;
    user-select: none;
    font-family: 'Arimo';
    color: #005BE3;
}

.project-content {
    font-family: 'Arimo';
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    padding: 0 10px;
    padding-top: 18px;
    font-weight: 200;
    font-size: 18px;
}

.blue {
    color: #005BE3;
}

.project-title span {
    cursor: inherit;
}

.plus-icon {
    font-size: 42px;
    font-weight: 400;
    cursor: pointer;
    transform-origin: center;
    transition: transform 0.2s ease;
    color: var(--blue);
}

.projects-home .active {
    color: black !important;
}

.project-item.active .project-content {
    max-height: 700px;
}

.project-item.active .plus-icon {
    transform: rotate(90deg);
}

.project-item:hover .plus-icon {
    transform: rotate(90deg);
}

.project-item:hover .project-title {
    color: black;
}

.project-item:active .project-title {
    color: black;
}

.accordion-enter-active,
.accordion-leave-active {
    transition: max-height 200ms ease;
}

.accordion-enter,
.accordion-leave-to

/* .accordion-leave-active in <2.1.8 */
    {
    max-height: 0;
}

.about-text {
    width: 66%;
    line-height: 1.15;
    font-size: 20px;
}

.about-text p {
    margin-bottom: 20px;
}

.view-text {
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    text-decoration-color: var(--blue);
}

.view-text:hover {
    color: var(--blue);
}

.view-text.earnest {
    color: white;
    text-decoration-color: var(--oyellow);
}

.view-text.earnest:hover {
    color: var(--oyellow);
}

.view-text.hope {
    color: white;
    text-decoration-color: #85b3ff;
}

.view-text.hope:hover {
    color: #85b3ff;
}

.view-text.upside {
    text-decoration-color: var(--upgreen);
    color: #C9FFAF;
}

.view-text.upside:hover {
    color: var(--upgreen);
}

.past-ev {
    padding-top: 2rem;
    box-sizing: border-box;
}

.earnest-page {
    background-color: var(--orange);
}

.hope-page {
    background-color: #42270f;
}

.hope-page .page-content p {
    color: white !important;
}

.hope-page .page-content .info-button:hover {
    color: #85b3ff !important;
}

.earnest-page .page-content p {
    color: #fff;
}

.affection-page {
    background-color: #3975e6;
}

.affection-page .page-content .info-button:hover {
    color: #f3a257 !important;
}

.affection-page .page-content p {
    color: #FFFDFB;
}

.upside-page {
    background-color: #0C3F41;
}

.upside-page .page-content p {
    color: #C9FFAF;
}

.upside-page .page-content .info-button:hover {
    color: #11935e;
}

.earnest-page .page-content .info-button:hover {
    color: var(--oyellow);
}

.home-page .page-content .info-button:hover {
    color: #005BE3;
}

.home-page .page-content p {
    color: black;
}

.article-content {
    margin-top: 3rem;
}

.event-content {
    margin-top: 3rem;
}

.info-page {
    background-color: #005BE3;
    box-sizing: border-box;
    padding-top: 2rem;
    min-height: calc(100vh - 54px);
    height: auto;
}

.info-page p {
    color: white;
    font-size: 22px;
    line-height: 1.15;
    font-weight: 250;
    font-family: 'Inter';
}

.info-sub {
    font-size: 18px !important;
    font-weight: 700 !important;
    letter-spacing: 0.03rem;
    margin-bottom: 0.25rem;
}

.backpack-cont {
    position: fixed;
    right: 1.5rem;
    top: 233px;
}

.backpack {
    width: 18vw;
}

.info-button {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.03rem;
    font-family: 'Spectral';
}


.info-link:hover {
    color: #fcff5e;
}

.close-button {
    background-color: #005BE3;
    color: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.03rem;
}

.x-box {
    height: 36px;
    width: 36px;
    position: fixed;
    right: .5rem;
    top: 10px;
}

.x-box.alt {
    top: 15px;
}

.subscribe-cont {
    position: fixed;
    bottom: 1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    width: 100%;
    box-sizing: border-box;
}

.subscribe-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border: 2px solid white;
    font-family: 'Arimo';
}

.white-subscribe-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border: 2px solid var(--blue);
    font-family: 'Arimo';
}

.email::placeholder {
    color: white !important;
    border: white;
}

.white-subscribe-form .email::placeholder {
    color: var(--blue) !important;
    border: var(--blue);
}

input[type="email"] {
    border-radius: 0; 
    -webkit-appearance: none;
    appearance: none;

}

.subscribe-form input {
    flex: 1;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: 100;
    background-color: #005BE3;
    border: none;
    border-right: 2px solid white !important;
    color: white;
    box-sizing: border-box;
}

.white-subscribe-form input {
    flex: 1;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: 100;
    background-color: white;
    border: none;
    border-right: 2px solid var(--blue) !important;
    color: var(--blue);
    box-sizing: border-box;
}

.subscribe-form button {
    padding: 10px;
    font-size: 18px;
    font-weight: 100 !important;
    color: #fff;
    background-color: #005BE3;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
    white-space: nowrap;
}

.white-subscribe-form button {
    padding: 10px;
    font-size: 18px;
    font-weight: 100 !important;
    color: var(--blue);
    background-color: white;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
    white-space: nowrap;
}

.subscribe-form button:hover {
    background-color: #fff;
    color: #005BE3;
}

.white-subscribe-form button:hover {
    background-color: var(--blue);
    color: white;
}

#mce-responses {
    position: relative;
    bottom: 10px;
    color: white;
}

.subscribe-form input:focus {
    outline: none;
    border: none;
    border-radius: 0; 
    -webkit-appearance: none;
    appearance: none;
}



@media (max-width: 1200px) {
    .big-half {
        width: 50%
    }

    .small-half {
        width: 50%;
    }

    .home-page .landing p {
        font-size: 54px;
        line-height: 1.15;
    }

    .landing {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .menu-item {
        font-size: 18px;
    }

    .info-page p {
        font-size: 22px;
    }

    .backpack-cont {
        top: 250px;
    }
}

@media (max-width: 1100px) {
    .info-page p {
        font-size: 20px;
    }
}

@media (max-width: 1000px) {
    .landing p {
        font-size: 62px;
    }
}

@media (max-width: 920px) {
    .landing p {
        font-size: 54px;
    }

    .home-page .landing p {
        font-size: 48px;
    }
}

@media (max-width: 815px) {
    .home-row {
        flex-direction: column;
    }

    .big-half {
        width: 100%;
    }

    .desktop-menu {
        display: none;
    }

    .landing p {
        font-size: 78px;
    }

    .home-page .landing p {
        font-size: 74px;
    }

    .mobile-hide {
        display: none;
    }

    .header .mobile-menu {
        padding-right: 1.5rem;
    }

    .alt-header .mobile-menu {
        color: black;
    }

    .mobile-66 {
        width: 66%;
    }

    .info-button-cont {
        display: none;
    }

    .img-half.desktop {
        display: none;
    }

    .landing {
        margin-top: 2rem;
        margin-bottom: 1.5rem !important;
    }

    .nav-text {
        font-size: 20px;
    }

    .home-row {
        box-sizing: border-box;
        padding-bottom: 1rem;

    }

    .about-text {
        padding-bottom: 1rem;
        width: 100%;
    }

    .mobile-50 {
        width: 50%;
    }

    .mobile-100 {
        width: 100%;
    }

    .info-page {
        padding-right: 1.5rem;
        padding-top: 1.5rem;
    }

    .info-page p {
        font-size: 20px;
    }

    .info-row {
        flex-direction: column;
        padding-bottom: 0;
    }

    .backpack-cont {
        right: 1.5rem;
        top: 200px;
    }

    .backpack {
        width: 25vw;
    }

    .menu-item:hover {
        color: inherit;
    }

}

@media (min-width: 816px) {
    .mobile-menu {
        display: none;
    }

    .img-half.mobile {
        display: none;
    }

    .desktop-hide {
        display: none;
    }
}

@media (max-width: 701px) {
    .home-page .landing p {
        font-size: 64px;
    }
}

@media (max-width: 620px) {
    .home-page .landing p {
        font-size: 56px;
    }

}

@media (max-width: 580px) {
    .landing p {
        font-size: 68px;
    }

    .home-page .landing p {
        font-size: 50px;
    }

    .info-page p {
        font-size: 19px;
        line-height: 1.2;
    }

    .project-title {
        font-size: 20px;
    }

    .big-half {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .header .mobile-menu {
        padding-right: 1rem;
    }

    .ph3-mobile {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .nopad-mobile {
        padding: 0;
    }

    .backpack-cont {
        right: 1rem;
    }

    .subscribe-cont {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .menu-overlay-content {
        margin-left: 1rem;
        margin-top: 1rem;
    }

}

@media (max-width: 500px) {
    .landing p {
        font-size: 56px;
    }

    .home-page .landing p {
        font-size: 42px;
    }


    .mobile-icon-cont {
        width: 40%;
    }

}

@media (max-width: 440px) {
    .home-page .landing p {
        font-size: 38px;
    }

    .landing {
        margin-top: 1.5rem;
    }
}

@media (max-width: 420px) {
    .landing p {
        font-size: 50px;
    }
}

@media (max-width: 380px) {
    .landing p {
        font-size: 44px;
    }
}